* {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 50px;
    font-size: 18px;
    background-image: url(img/fon_darck.jpg);
}

.widget {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 100px auto 0;
    width: 300px;
    height: 450px;
    border: 2px solid #fed136;
    border-radius: 4px;
    box-shadow: 0 0 20px #402020;
    overflow: auto;

    background-image: url(img/augustine-wong-3Om4DHcaAc0-unsplash.jpg);
    background-size: contain;
}

.header {
    padding: 15px 0;
    font-size: 27px;
    color: #fed136;
    background-color: #222222;
    text-align: center;
    box-shadow: 0 0 8px #222222;
}

.add_task {
    margin: 15px 10px 10px;
    padding: 7px;
    width: calc(100% - 34px - 4px);
    font-size: 18px;
}

.add_task::placeholder {
    font-size: 16px;
}

.clear {
    text-align: center;
    margin-top: 120px;
    color: #00000052;
    font-style: italic;
    font-size: 20px;
}

.clear_on {
    display: none;
}

.task_item {
    padding: 10px;
    display: flex; 
}

.task_item:not(:last-child) {
    border-bottom: 1px solid #777777;
} 

.check {
    width: 20px;
    height: 20px;
    border: 1px solid #777777;
    border-radius: 5px;
    background-color: #7777773d;
}

.check_on {
    background-color: #fed136;
}

.check_on::after {
    content: "\2713";
    font-size: 18px;
    margin-left: 4px;
    color: #222222;
}

.text {
    margin: 0 10px;
    max-width: calc(100% - 20px - 22px - 42px);
    overflow: auto;
}

.text_on {
    color: #222222a8;
    text-decoration: line-through solid rgb(255, 67, 67);
}

.edit_button {
    margin-left: auto;
    width: 40px;
    height: 22px;
    color: #fed136;
    background-color: #222222;
    border: 1px solid #777777;
    border-radius: 3px;
}

.clear {
    text-align: center;
    margin-top: 120px;
    color: #00000052;
    font-style: italic;
    font-size: 20px;
}

.del_buttons {
    display: flex;
    justify-content: space-evenly;
}

.del {
    width: calc(100% - 140px);
    padding: 3px 0;
    font-size: 16px;
    color: #222222;
    border: 1px solid #777777;
    border-radius: 3px;
    background-color: rgb(255, 67, 67);
    margin: 0 70px;
}


.display_none {
    display: none;
}

